@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<div class="container-fluid vh-100">
    <div class="row p-5 vh-60">
        <div class="col-6">

            <div class="form-floating mb-3">
                @* 사용자 명 (클라이언트, 서버) *@
                <input type="text"
                       class="form-control"
                       @bind="userInput"
                       id="floatingInput"
                       placeholder="이름">
                <label for="floatingInput">이름</label>
            </div>

            <div class=" mb-3">
                @* 메시지 (클라이어트, 서버) *@
                <label for="messageBox">메시지</label>
                <textarea class="form-control"
                          @bind=messageInput
                          placeholder="Leave a comment here"
                          rows="8"
                          id="messageBox">
                </textarea>

            </div>

            <div>
                @* 메시지 전송 버튼 *@
                <button class="btn btn-success"
                        @onclick="Send"
                        disabled="@(!IsConnected)"> 전송
                </button>
            </div>

        </div>

        <div class="col-6 overflow-auto">
            <ul class="list-group list-group-flush" id="messagesList">
                @foreach (var message in messages)
                {
                    <li class="list-group-item">
                        <textarea class="form-control overflow-auto" rows="5"> @message </textarea>
                    </li>
                }
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col">

            @{
                int total = 7;
                var outsideTemp = 88;
            }

            <p>The value of your account is: @total</p>


            @{
                var myMessage = "Hello World";
                var weatherMessage = $"{DateTime.Now} is {outsideTemp};";
            }

            <p>The value of myMessage is: @myMessage</p>
            <p>The Temp = @weatherMessage</p>
            @{
                var tf = 2024 % DateTime.Now.Year;

                if (tf == 1)
                {
                    <h1>Hello</h1>
                }
                else
                {
                    <h2>World</h2>
                }
            }
            @if (tf == 0)
            {
                @: The time is
                <br /> @DateTime.Now
                <br />
                @DateTime.Now @: is the <em>current</em> time.
            }

            @{
                var mystr = @"C:\MyFolder\";
                var myQuote = @"The person said: ""Hello, today is Monday""";
            }
            <p>@myQuote</p>
            <p>The path is: @mystr</p>
        </div>
    </div>
</div>

@* Lorem ipsum dolor sit amet,
consectetur adipisicing elit.
Aliquid porro ad voluptatibus,
velit, autem dignissimos blanditiis
officiis vero maxime,
ullam praesentium magni. Reiciendis quis nulla,
aliquid obcaecati deleniti impedit vitae. *@
